node_modules/
dist/
build/
.env
.DS_Store
*.log
apps/server/node_modules/
apps/web/node_modules/
.pnpm-store/
storage/
uploads/
element-plus-2.14.2.tgz
GraphicsMagick-1.3.47-windows.7z
*.traineddata
install_output.txt
temp/
*.tmp
*.zip
